{
  :source-paths ["src"]
  :dependencies [
    [medley "1.3.0"]
    [mvc-works/lilac "0.1.6"]
  ]
  :builds {
    :app {
      :target :node-script, :output-to "target/server.js", :main caches.main/main!
      :devtools {:after-load caches.main/reload!}
    }
  }
}